<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<h2 id="TaiKhoan"></h2>
		<div class="card-group">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Register device</h4>
					<p>Decribe <textarea name="decribe" id="decribe"> </textarea></p>

					<p>Device ID <input type="text" name="deviceID" id="deviceID" /></p>

					<p>Price: <input type="number" name="price" id="price" /></p>
					<button onclick="_register()">Register</button>
					<p id="bytesID"></p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Encrypt data and publish data</h4>
					<div id="displayEvent" style="height: 300px; overflow-y: scroll"></div>
				</div>
			</div>
		</div>
		<div class="card-group">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Register device</h4>
					<!-- <form method="post">
						<p>Decribe <textarea name="decribe" id="decribe"> </textarea></p>

						<p>Device ID <input type="text" name="deviceID" id="deviceID" /></p>

						<p>Price: <input type="number" name="price" id="price" /></p>
						<button onclick="_register()"></button>
					</form> -->
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Encrypt data and publish data</h4>
					<form method="post">
						<p>Decribe <textarea name="decribe" id=""> </textarea></p>

						<p>Secrete key <input type="text" name="sk" id="" /></p>

						<p>file <input type="file" name="file" id="" /></p>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"
	></script>
	<!-- web3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.4.0/web3.min.js"></script>
	<script src="/javascripts/metadata.js"></script>
	<script src="/javascripts/contract_API.js"></script>
	<script src="/javascripts/init.js"></script>

	<script src="/javascripts/subcribeEvent.js"></script>
	<script>
		$(document).ready(async function () {
			await load();
			subRegister().on("data", function (event) {
				str = `<div class="card">
				<div class="card-body">
					<h4 class="card-title">Event</h4>
					<p>owner: ${event.returnValues.owner}</p>
			    <p>id: ${event.returnValues.id}</p>
			    <p>_decribe: ${event.returnValues._decribe}</p>
			    <p>price: ${event.returnValues.price}</p>
				</div>
			</div>`;
				$("#displayEvent").append(str);
			});
		});
	</script>

	<script>
		async function _register() {
			decribe = $("#decribe")[0].value;
			deviceID = $("#deviceID")[0].value;
			price = $("#price")[0].value;
			console.log(price);
			console.log(deviceID);
			console.log(decribe);
			let idInBytes = web3.utils.padLeft(web3.utils.fromAscii(deviceID), 64);
			await register(idInBytes, decribe, price);
			$("#bytesID")[0].innerHTML = "ID: " + idInBytes;
		}
	</script>
</html>
